streamlit
qdrant-client
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-mistralai
mistralai
sentence-transformers
torch
transformers
huggingface-hub
numpy
pandas
