streamlit
qdrant-client
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-mistralai
llama-index-postprocessor-sentencetransformers
llama-index-readers-file
pymupdf
sentence-transformers
